<!-- Gitalk 评论 -->
{% if site.gitalk.enable %}
<!-- Link Gitalk 的支持文件  -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>

<div id="gitalk-container"></div>
<script type="text/javascript">
    var gitalk = new Gitalk({
        id: location.pathname,
        clientID: '{{site.gitalk.client_id}}',
        clientSecret: '{{site.gitalk.client_secret}}',
        repo: '{{site.gitalk.repo}}',
        owner: '{{site.gitalk.owner}}',
        admin: ['{{site.gitalk.admin}}'],
        distractionFreeMode: '{{ site.gitalk.distraction_free_mode }}'
    });
    gitalk.render('gitalk-container');
</script>
{% endif %}
